@view-transition {
  navigation: auto;
}

html {
    scroll-behavior: smooth;
  }

body{
    font-family: 'Times New Roman', Times, serif;
    height: 110vh;
    width: 100vw;
    background-color: #f9f8f6;
    display: flex;
    flex-direction: column;
}

.bar{
    margin-left: -50px;
    margin-top: -24px;
    width: 100vw;
    height: 100px;
    position: absolute;
    align-content: center;
    z-index: 1;
}

#hm{
    width: 8vw;
    border-radius: 10px;
    background-color: #6f9c8b;
    color: white;
}

.bar  a{
    height: 5vh;
    text-decoration: none;
    color: black;
    font-weight: lighter;
    align-content: center;
}

.bar ul{
    font-size: 25px;
    font-weight: lighter;
    display: flex;
    gap: 50px;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;

}

.bar li{
    width: 10vw;
    border-radius: 10px;
}

.bar ul li:hover{
    transition: 0.4s;
    cursor: pointer;
    color: black;
}

.bar img{
    
    width: 150px;
    height: 150px;
}

.perf{
    align-items: center;
    height: 50px;
    display: flex;
    gap: 10px;
}
.perf a{
    margin-top: 0;
    height: 30px;
}

.bar .perfil{
    width: 50px;
    height: 50px;
    opacity: 50%;
}

#lgn{
    font-weight: bold;
    color: #525e5b;
    height: 30px;
    border-radius: 10px;
}

#lgn:hover{
    color:#00d5ff;
    transition: 0.4s;
    cursor: pointer;
}

#logo{
    width: 350px;
    height: 180px;
    margin-left: -10vw;
}

.containeer a{
    text-decoration: none;
    color: black;
}

.containeer5{
    width: 100vw;
    height:90vh;
    display: flex;
    flex-direction: row;
    position: relative;

}

.containeer{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 30px;;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
}

.containeer ul{
    display: flex;
    gap: 10px;
    list-style: none;
    text-align: center;
}

.containeer ul li{
    width: 12vw;
    border-right: 2px solid;
    border-left: 2px solid;
    border: 1px solid;
    border-radius: 8px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
}

.containeer ul li:hover{
    background-color: rgba(127, 255, 212, 0.562);
    cursor: pointer;
    transition: 0.5s;
}

.fts{
    padding: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    width: 45vw;
    height: auto;

    gap: 20px;
}

.fts img{
    margin: auto;
    width: 400px;
    height: 280px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}


.cad{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}

.cad p{
    height: 30px;
    font-weight: 600;
    margin-bottom: -20px;
}

.cad h2{
    margin-bottom: -12px;
    font-weight: lighter;
    height: 20px;
    font-size: 20px;
}

.cad h5{
    height: 8px;
    font-size: 20px;
    font-weight: 500;
}

.camp{
    background-color: #b1f1d9;
}