@view-transition {
  navigation: auto;
}

body{
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    width: 100vw;
    background:#fff;
}

#rg{
    border-radius: 10px;
    background-color: #6f9c8b;
    color: white;
}

.cont{

    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

.cont ul li{
    color: white;
    font-weight: bold;
}


.cont2 li a{  
    font-weight: bold;
    color: black;
    background-color: white;
}

.crr{
    height: 520px;
    border: 1px solid;
    border-radius: 0px;
}



.bar{
    width: 100vw;
    height: 100px;
    align-content: center;
    z-index: 1;
    margin-bottom: 100px;
}

.bar a{
    height: 5vh;
    text-decoration: none;
    color: black;
    font-weight: lighter;
    align-content: center;
}

.bar ul{
    font-size: 23px;
    font-weight: lighter;
    display: flex;
    gap: 50px;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

.bar li{
    width: 10vw;
    border-radius: 10px;
}

.bar ul li:hover{
    transition: 0.4s;
    cursor: pointer;
    color: black;
}

.bar img{
    
    width: 150px;
    height: 150px;
}

.perf{
    align-items: center;
    height: 50px;
    display: flex;
    gap: 10px;
}
.perf a{
    margin-top: 0;
    height: 30px;
}

.bar .perfil{
    width: 50px;
    height: 50px;
    opacity: 50%;
}

#lgn{
    font-weight: bold;
    color: #525e5b;
    
    height: 30px;
    border-radius: 10px;
}

#lgn:hover{
    color:#00d5ff;
    transition: 0.4s;
    cursor: pointer;
}

#logo{
    margin-left: -10vw;
}

.topo{
    width: 41vw;
    align-content: center;
    display: flex;
    justify-content: space-between;
}
.topo button{
    border-radius: 8px;
    padding: 5px;
    background-color: rgb(103, 156, 156);
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
}
.topo2{
    align-content: center;
    display: flex;
    justify-content: space-between;
}

.topo2 button{
    border-radius: 8px;
    padding: 5px;
    background-color: rgb(103, 156, 156);
    color: white;
    font-weight: bold;
}

.caixa{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    background-color: rgb(255, 255, 255);
    height: 70vh;
    width: 83vw;

}

.tab1 h3{
    margin-left: 20px;
}
.tab2 h3{
    margin-left: 20px;
}
.cab1{
    background-color: aliceblue;
    margin-left: 20px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 40vw;
    height: 5vh;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.list1{
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;;
    align-content: center;
    width: 40vw;
    height: 5vh;
 
}


.list1 h2{
    text-align: center;
    font-size: 18px;
    width: 70vw;
    align-content: center;
}



.cab1 h2{
    text-align: center;
    width: 70vw;
    font-size: 18px;
    align-content: center;

}

.cab2{
    background-color: aliceblue;
    margin-left: 20px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 40vw;
    height: 5vh;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.list2{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;;
    align-content: center;
    width: 40vw;
    height: 5vh;
}

.list2 h2{
    text-align: center;
    font-size: 18px;
    width: 70vw;
    align-content: center;
}



.cab2 h2{
    text-align: center;
    width: 70vw;
    font-size: 18px;
    align-content: center;
}

#logo{
    width: 350px;
    height: 180px;
    margin-left: -10vw;
}