body{
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-color: #f9f8f6;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

body img{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
    opacity: 20%;
}

#logo{
    opacity: 60%;
    margin-left: -480px;
    margin-top: -100px;
    width: 70vw;
    height: 70vh;
}

body h2{
    margin: auto;
    margin-bottom: -160px;
}

strong{
    font-size: 30px;
}

.cont{
    align-content: center;
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 480px;
    height: 440px;
    align-content: center;
    border: 1px saddlebrown solid;
    box-shadow: 2px 1px 3px 4px rgba(0, 0, 0, 0.425);
    border-radius: 10px;
 
    
}

.cont form{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    height: 40vh;
    margin: auto;
    margin-top: -100px;
}

.cont label{
    width: 300px;
}

.cont input{
    width: 300px;
    padding: 5px;
}

.lgn{
    margin: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 10px;
    margin-bottom: -90px;
}

.lgn input{
    width: 288px;
    border: 1px solid;
    border-radius: 5px;
}

.snh{
    text-align: justify;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.snh input{
    width: 288px;
    border: 1px solid;
    border-radius: 5px;
}

button{
    border: 1px solid;
    border-radius: 15px;
    padding: 10px;
    width: 300px;
    margin: auto;
    margin-top: -30px;
    cursor: pointer;
}

button:hover{
    transition: 0.5s;
    background-color: #97d1c6;
    color: black;
}

h5{
    color: rgba(0, 0, 0, 0.616);
    width: 250px;   
    height: 20px;
    margin: auto;
    cursor: pointer;
}

h5:hover{
    cursor: pointer;
    color: skyblue;
    transition: 0.3s;
}

.btn{
    margin-top: -55px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

body h2{
    color:#66a18e;
    font-size:30px;
    font-weight: bold;
}
