   /* line-height: calc(100vh - 170px); */

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(252, 252, 252);
}

main{
    width:50vw;
    height: 80vh;
    margin: auto;
}

header{
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.bar{
    width: 100vw;
    height: 100px;
    align-content: center;
    z-index: 1;
}

.bar a{
    height: 5vh;
    text-decoration: none;
    color: black;
    font-weight: lighter;
    align-content: center;
}

.bar ul{
    font-size: 23px;
    font-weight: lighter;
    display: flex;
    gap: 50px;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

.bar li{
    width: 10vw;
    border-radius: 10px;
}

.bar ul li:hover{
    transition: 0.4s;
    cursor: pointer;
    color: black;
}

.bar img{
    
    width: 150px;
    height: 150px;
}

.perf{
    align-items: center;
    height: 50px;
    display: flex;
    gap: 10px;
}
.perf a{
    margin-top: 0;
    height: 30px;
}

.bar .perfil{
    width: 50px;
    height: 50px;
    opacity: 50%;
}

#lgn{
    font-weight: bold;
    color: #525e5b;
    
    height: 30px;
    border-radius: 10px;
}

#lgn:hover{
    color:#00d5ff;
    transition: 0.4s;
    cursor: pointer;
}

#logo{
    margin-left: -10vw;
}


.btn{
    text-align: center;
    align-items: center;
}
.btn img{
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-top: 10px;
}
header h2{
    width: 18vw;
    height: 4vh;
    margin-left: 10px;
    align-content: center;
    font-size: 30px;
}
header button{
    text-align: center;
    font-size: 18px;
    background-color: rgb(169, 226, 236);
    width: 250px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid;
}

.container{
    background-color: white;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
    width: auto;
    height: 73vh;
    border-radius: 10px;
}

.container .cab{
    width: auto;
    display: flex;
}

.cab input{
    margin: 8px;
    padding: 8px;
    width: 40vw;
    border: 1px solid;
    border-radius: 10px;
}

#drop{
    background-color: beige;
    border-radius: 8px;
}

.block{
    width: 100px;
}

.cont{
    display: flex;
    width: auto;
    height: 628px;
    margin: auto;
}

.camps{
    display: flex;
    flex-direction: column;
    margin: 8px;
    width: 38vw;
    height: 65vh;
}

.bar-lat{
    border-radius: 8px;
    margin-top: 19px;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
    width: 253px;
    height: 50vh;
    margin: 15px;
    justify-content: center;
}

.bar-int{
     text-align: justify;
     margin-top: 10px;
     margin-left: 30px;
}

.bar-int h2{
    font-size: 30px;
}

.bar-int h5{
    margin-top: 10px;
    font-size: 25px;
    font-weight: lighter;
}
.bar-int h6{
    margin-top: 10px;
    font-size: 15px;
    margin-right: 85px;
    font-weight: lighter;
}
.bar-int h3{
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
}
.bar-int p{
    margin-top: 15px;
    font-size: 18px;
}
.bar-int h1{
    margin-top: 70px;
    font-size: 18px;
}

.barp{
    font-weight: 600;
}

.block{
    margin-top: 10px;
    margin-left: 5px;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width:250px;
    height: 190px;
    margin: auto;
    margin-bottom: 10px;
}

.block2{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
    background-color: aliceblue;
}
.block2 li a{
    width: 100%;
    border: 1px solid;
    justify-content: center;
}
.block2 li a:hover{
    background-color: antiquewhite;
}
.c1{
    width: auto;
    display: flex;  
    align-items: center;
}
.c2{
    width: auto;
    display: flex;  
    align-items: center;
}

.txt h5{
    font-size: 12px;
    font-weight: bold;
}
.c3{
    width: auto;
    display: flex;  
    align-items: center;
    
}

.c1 img{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin: 20px;
}
.c2 img{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin: 20px;
}
.c3 img{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin: 20px;
}

.c1 .txt{
    margin-top: -20px;
    font-size: 25px;
}
.c2 .txt{
    margin-top: -20px;
    font-size: 25px;
    flex-wrap: wrap;
}
.c3 .txt{
    margin-top: -20px;
    font-size: 25px;
}
.txt h2{
    font-size: 18px;
    width: 400px;
}


.txt p{
    font-size: 18px;
    width: 500px;
}

#logo{
    width: 350px;
    height: 180px;
    margin-left: -10vw;
}